{% extends 'base.html' %}

{% block title %} Вопросы анкеты {% endblock %}

{% block content %}
<form class="container" action="/process" target="_blank">
    <h4>Анкета информанта</h4>
			<div class="row">
				<div class="col-md-4">Возраст</div>
				<div class="col-md-4"><input type="number" name="age"></div>
			</div>
			<div class="row">
				<div class="col-md-4">Гендер</div>
				<select name="gender" class="col-md-4">
					<option value="male">мужской</option>
					<option value="female">женский</option>
					<option value="other">другой</option>
				</select>
			</div>
    <h4>Вопросы</h4>
	<p>Укажите, как часто Вы соблюдаете эти традиции в Новый год.</p>
	{% for question in questions %}
			    <div class="row">
				    <p class="col-md-6"><b>{{question.text}}</b></p>
					<table class="col-md-8">
						<tr>
							<td><input class="radio" type="radio" name="q{{ question.id }}" value=5></td>
							<td><input class="radio" type="radio" name="q{{ question.id }}" value=4></td>
							<td><input class="radio" type="radio" name="q{{ question.id }}" value=3></td>
							<td><input class="radio" type="radio" name="q{{ question.id }}" value=2></td>
							<td><input class="radio" type="radio" name="q{{ question.id }}" value=1></td>
						</tr>
						<tr>
							<td>почти всегда</td>
							<td>часто</td>
							<td>средне</td>
							<td>редко</td>
							<td>почти никогда</td>
						</tr>
					</table>
			    </div>
	{% endfor %}
	 <button type="submit" class="btn btn-primary">Отправить</button>
</form>
{% endblock %}