{% extends 'base.html' %}

{% block title %} Статистика {% endblock %}

{% block content %}
    <h4>Статистика ответов</h4>
    </p><table>
        <tr>
            <td>Средний возраст участников</td>
            <td><i><b>{{ all_info['age_mean'] }}</b></i></td>
        </tr>
        <tr>
            <td>Минимальный возраст участников</td>
            <td><i><b>{{ all_info['age_min'] }}</b></i></td>
        </tr>
        <tr>
            <td>Максимальный возраст участников</td>
            <td><i><b>{{ all_info['age_max'] }}</b></i></td>
        </tr>
    </table></p>
<p>Средние ответы участников для каждой традиции по пятибалльной шкале <i>(5 - почти всегда, 1 - почти никогда)</i></p>
    <table>
        <tr>
            <td>Празднование всей семьей</td>
            <td><i><b>{{ all_info['q1_mean'] }}</b></i></td>
        </tr>
        <tr>
            <td>Украшение ёлки и дома</td>
            <td><i><b>{{ all_info['q2_mean'] }}</b></i></td>
        </tr>
        <tr>
            <td>Приготовление оливье и других традиционных салатов</td>
            <td><i><b>{{ all_info['q3_mean'] }}</b></i></td>
        </tr>
        <tr>
            <td>Просмотр новогодних фильмов</td>
            <td><i><b>{{ all_info['q4_mean'] }}</b></i></td>
        </tr>
        <tr>
            <td>Запуск фейерверков</td>
            <td><i><b>{{ all_info['q5_mean'] }}</b></i></td>
        </tr>
    </table>
{% endblock %}