{% extends 'base.html' %}

{% block title %} Главная {% endblock %}

{% block content %}
    <h2>Об анкете</h2>
    <p>Здравствуйте! Перед Вами сайт анкеты, посвященной <b>новогодним традициям</b>.</p>
    <p>В преддверии Нового года я решила узнать, какие традиции существуют у людей в этот праздник.</p>
    <p>Чтобы принять участие в исследовании, пройдите по <a href="/questions">ссылке</a> или выберите вкладку <i>"Вопросы анкеты"</i> в меню сверху.</p>
    <p>Если у Вас возникнут вопросы, можете писать их на почту <a href="mailto:ostrovskaya.ms@mail.ru">Островской Марии</a>.</p>
{% endblock %}